.jumbotron {
    background-image: linear-gradient(to right, #273751 , black);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: whitesmoke;
   
}

.lead {
    float: right;
}
button {
    margin-bottom: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-image: linear-gradient(to right, #273751  , black);
    font-weight: bolder;
}

body {
    font-family: 'Alegreya Sans SC', sans-serif;
    background-image: url(../../assets/images/light-grey-terrazzo.png);
}

td {
    font-weight: bolder; 
    font-size: 20px;
}

.table {
    font-size: 24px;
}